@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#Home{
  color: pink;
  font-family: 'Cedarville Cursive', cursive;
}
#form{
  color:palevioletred;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 25px;
}
input, textarea, select {
  color: palevioletred;
  background-color: rgb(228, 241, 247);
  width : 300px;
  height: 50px;
  padding: 0;
  margin-left: 10;
  box-sizing: border-box;
  border: 1px solid palevioletred;
 
}
#ViewAll{
  z-index:5;
}
button{
  background-color: pink;
  border: 1px solid palevioletred;
  color: white;
}
/* #journal{
  background-color:lightskyblue;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  border: 1px solid black;
  grid-template-areas: 
    "date data";
    
} */
/* viewAll css */
h4{
  
  color: palevioletred;
  font-family: 'Cedarville Cursive', cursive;
}
#all-posts{
  padding-left: 10px;
  border: 2px solid pink;
}
#search{
  height: 25px;
  color: palevioletred;
  font-family: 'Cedarville Cursive', cursive;
  color:palevioletred;
  font-size: 25px;
  width: 200px;
}
#dropdown{
  height: 25px;
  width: 100px;
  display: inline-block;
}
#edit-title{
  font-size: 25px;
  color: palevioletred;
  font-family: 'Cedarville Cursive', cursive;
}